<!DOCTYPE html>
<html>
<head >
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    
</head>

    
    <body style="background:gray;">
        
        
       <h1> Acerca de conxca.</h1>
<div><h3>¿Quiénes somos? </h3>
<p>Somos una organización llamada Conxca (reflexiona, conduce y camina) que busca fomentar educación vial a alumnos de primaria y secundaria, para así desarrollar actitudes de prevención y dar a conocer las normas de circulación vial por medio de juegos e información dinámica sobre el tema.</p>
    </div>
        
<div><h3>Nuestro lema:</h3>
<p>“Conducir o caminar, cualquier papel puedes jugar”. Basado principalmente en el propósito de nuestra organización ya que todo el conocimiento adquirido será por medio de actividades, abarcando un interés potencial entre los alumnos.</p>
</div>
<div><h3>Misión.</h3>
    <p>Buscamos fomentar educación vial a alumnos de primaria y secundaria por medio de juegos y actividades dinámicas.</p>
</div>
        
<div><h3>Visión.</h3>
<p>Tener cultura vial en nuestras generaciones futuras respetando las normas establecidas y de igual manera aplicar un comportamiento responsable.</p>
        </div>
        
        
    </body>




</html>