<!DOCTYPE html>
<html>
<head>
    <title>CancelacionCita</title>
    <link href="estilo.css" rel="stylesheet">
    <style type="text/css">
    
    </style>
    
    
    </head>
<body>
    
    <center><H1><font face="Arial">Canselación de Cita</H1></font>
    <form action="reg.php" method="POST">
        <div id="registro">
        
        <table>
        <label>Nota: Ingrese los datos en letra may&#250;scula y sin acentos  </label>
                <br> 
            <br>  
            
            <tr>
               
    <td><label> Escuela:  </label></td>
                <td>
<select name="OS">
   <option value="1">Windows Vista</option> 
   <option value="2">Windows 7</option> 
   <option value="3">Windows XP</option>
   <option value="10">Fedora</option> 
   <option value="11">Debian</option> 
   <option value="12">Suse</option> 
</select>  </td>
            </tr>
            <tr>
                <td><label> Nombre de Profesor </label></td>
        <td><input type="text" name="numAlumnos" placeholder="Total de Alumnos"/>  </td>
            
            </tr>
            <tr>
                <td><label>Fecha Solisitada </label></td>
        <td><input type="text" name="horaVisita" placeholder="Hora de Vicita"/>  </td>
            
            </tr>
            <tr>
                <td><label>Motivo de Cancelacion</label></td>
        <td> <textarea name="comentarios" rows="10" cols="20">Escribe aqu&#237; tus comentarios</textarea>  </td>
            
            </tr>
            
            </table>
        
        
        </div>
    
    
    </center>
    
        
    
    
    </body>

</html>