
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../recursos/css/bootstrap2.css">
        <script type="text/javascript" src="../recursos/js/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="../recursos/js/bootstrap.js"></script>
        <link rel="stylesheet" type="text/css" href="../recursos/css/practicahex.css"/>
      
        
    </head>
    
    <body>

           
        <div class="honeycomb">
  <div class="ibws-fix">
    <div class="hexagon">
      <div class="hexagontent imagenstop" data-toggle="modal" data-target="#myModal" >
        </div>
    </div>
    <div class="hexagon">
      <div class="hexagontent cedapaso" data-toggle="modal" data-target="#myModal2"></div>
    </div>
    <div class="hexagon">
      <div  class="hexagontent gasolinera" data-toggle="modal" data-target="#myModal3"></div>
    </div>
    <div class="hexagon">
      <div  class="hexagontent hotel" data-toggle="modal" data-target="#myModal4"></div>
    </div>
    <div class="hexagon">
      <div  class="hexagontent mecanico" data-toggle="modal" data-target="#myModal5"></div>
    </div>
    <div class="hexagon">
     <div  class="hexagontent medico" data-toggle="modal" data-target="#myModal6"></div>
    </div>
    <div class="hexagon">
     <div class="hexagontent parada" data-toggle="modal" data-target="#myModal7"></div>
    </div>
    <div class="hexagon">
      <div class="hexagontent restaurant" data-toggle="modal" data-target="#myModal8"></div>
    </div>
  </div>
  <div class="ibws-fix">
    <div class="hexagon">
     <div class="hexagontent sanitarios" data-toggle="modal" data-target="#myModal9"></div>
    </div>
    <div class="hexagon">
     <div class="hexagontent"></div>
    </div>
    <div class="hexagon">
      <div class="hexagontent"></div>
    </div>
    <div class="hexagon">
      <div class="hexagontent"></div>
    </div>
    <div class="hexagon">
     <div class="hexagontent"></div>
    </div>
    <div class="hexagon">
      <div class="hexagontent"></div>
    </div>
    <div class="hexagon">
     <div class="hexagontent"></div>
    </div>
    <div class="hexagon">
     <div class="hexagontent"></div>
    </div>
  </div>
  <div class="ibws-fix">
    <div class="hexagon">
    <div class="hexagontent"></div>
    </div>
    <div class="hexagon">
     <div class="hexagontent"></div>
    </div>
    <div class="hexagon">
     <div class="hexagontent"></div>
    </div>
    <div class="hexagon">
     <div class="hexagontent"></div>
    </div>
    <div class="hexagon">
      <div class="hexagontent"></div>
    </div>
    <div class="hexagon">
     <div class="hexagontent"></div>
    </div>
    <div class="hexagon">
    <div class="hexagontent"></div>
    </div>
    <div class="hexagon">
     <div class="hexagontent"></div>
    </div>
  </div>
  <div class="ibws-fix">
    <div class="hexagon">
     <div class="hexagontent"></div>
    </div>
    <div class="hexagon">
     <div class="hexagontent"></div>
    </div>
    <div class="hexagon">
     <div class="hexagontent"></div>
    </div>
    <div class="hexagon">
     <div class="hexagontent"></div>
    </div>
    <div class="hexagon">
     <div class="hexagontent"></div>
    </div>
    <div class="hexagon">
     <div class="hexagontent"></div>
    </div>
    <div class="hexagon">
      <div class="hexagontent"></div>
    </div>
    <div class="hexagon">
     <div class="hexagontent"></div>
    </div>
  </div>
 
     <div class="ibws-fix">
    <div class="hexagon">
     <a href="../Layout/menuhexa.html" class="hexagontent regresar"></a>
    </div>
    <div class="hexagon">
     <div class="hexagontent"></div>
    </div>
    <div class="hexagon">
     <div class="hexagontent"></div>
    </div>
    <div class="hexagon">
     <div class="hexagontent"></div>
    </div>
    <div class="hexagon">
     <div class="hexagontent"></div>
    </div>
    <div class="hexagon">
     <div class="hexagontent"></div>
    </div>
    <div class="hexagon">
      <div class="hexagontent"></div>
    </div>
    <div class="hexagon">
     <div class="hexagontent"></div>
    </div>
  </div>
</div>
        
        
    

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
     
        <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        
        <div class="imgdiv">
              <h4 class="modal-title" >Señal de transito</h4>
               <span class="img"><img class="img-responsive" src="../recursos/img/Stop.png"/></span>
               <h4 class="modal-title" >ALTO</h4>
           
        </div>   
      </div>
      
        <div class="modal-body">
         <div class="row">
        <div class="col-md-10">    
        <form>
            
           <p class="parrafo">Indica que el vehículo debe detenerse. </p>
            
        </form>
        </div>    
        </div>    
      </div>
        
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"  class="close" data-dismiss="modal" aria-hidden="true">Aceptar</button>
      </div>
        
        
    </div>
  </div>
</div>
    <!--fin del modal -->
        
        
       <!-- Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <d iv class="modal-content">
     
        <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        
        <div class="imgdiv">
              <h4 class="modal-title" >Señal de Transito</h4>
               <span class="img"><img class="img-responsive" src="img/ceda%20el%20paso.png"/></span>
               <h4 class="modal-title" >Ceda el paso</h4>
           
        </div>   
      </div>
      
        <div class="modal-body">
         <div class="row">
        <div class="col-md-10">    
        <form>
            
           <p class="parrafo">Esta señal indicará que el conductor debe detenerse o disminuir la velocidad de su vehículo, cuando sea necesario ceder el paso al tránsito; al que se incorpora o cruza. </p>
            
        </form>
        </div>    
        </div>    
      </div>
        
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"  class="close" data-dismiss="modal" aria-hidden="true">Aceptar</button>
      </div>   
    </div>
  </div>
</div>
    <!--fin del modal -->
        
        
               <!-- Modal -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
     
        <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        
        <div class="imgdiv">
              <h4 class="modal-title" >Señal de Información</h4>
               <span class="img"><img class="img-responsive" src="img/gasolinera.png"/></span>
               <h4 class="modal-title" >Gasolinera</h4>
           
        </div>   
      </div>
      
        <div class="modal-body">
         <div class="row">
        <div class="col-md-10">    
        <form>
            
           <p class="parrafo">Se coloca con una placa adicional indicando la distancia en que se encuentra la próxima estación de combustible. </p>
        </form>
        </div>    
        </div>    
      </div>
        
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"  class="close" data-dismiss="modal" aria-hidden="true">Aceptar</button>
      </div>   
    </div>
  </div>
</div>
    <!--fin del modal -->
        
         <!-- Modal -->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
     
        <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        
        <div class="imgdiv">
              <h4 class="modal-title" >Señal de Información</h4>
               <span class="img"><img class="img-responsive" src="img/hotel%20o%20motel.png"/></span>
               <h4 class="modal-title" >Hotel o Motel</h4>
           
        </div>   
      </div>
      
        <div class="modal-body">
         <div class="row">
        <div class="col-md-10">    
        <form>
            
           <p class="parrafo">Se coloca con una placa adicional indicando la distancia en que se encuentra el próximo hotel o motel. </p>
        </form>
        </div>    
        </div>    
      </div>
        
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"  class="close" data-dismiss="modal" aria-hidden="true">Aceptar</button>
      </div>   
    </div>
  </div>
</div>
    <!--fin del modal -->
        
        <!-- Modal -->
<div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
     
        <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        
        <div class="imgdiv">
              <h4 class="modal-title" >Señal de Información</h4>
               <span class="img"><img class="img-responsive" src="img/mecanico.png"/></span>
               <h4 class="modal-title" >Mecánico</h4>
           
        </div>   
      </div>
      
        <div class="modal-body">
         <div class="row">
        <div class="col-md-10">    
        <form>
            
           <p class="parrafo">Se coloca con una placa adicional indicando la distancia en que se encuentra un mecánico. </p>
        </form>
        </div>    
        </div>    
      </div>
        
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"  class="close" data-dismiss="modal" aria-hidden="true">Aceptar</button>
      </div>   
    </div>
  </div>
</div>
    <!--fin del modal -->
        
         <!-- Modal -->
<div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
     
        <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        
        <div class="imgdiv">
              <h4 class="modal-title" >Señal de Información</h4>
               <span class="img"><img class="img-responsive" src="img/medico.png"/></span>
               <h4 class="modal-title" >Médico</h4>
           
        </div>   
      </div>
      
        <div class="modal-body">
         <div class="row">
        <div class="col-md-10">    
        <form>
            
           <p class="parrafo">Lleva una placa adicional en la que se indique el tipo de servicio como puede ser Primeros Auxilios u Hospital. </p>
        </form>
        </div>    
        </div>    
      </div>
        
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"  class="close" data-dismiss="modal" aria-hidden="true">Aceptar</button>
      </div>   
    </div>
  </div>
</div>
    <!--fin del modal -->
        
        <!-- Modal -->
<div class="modal fade" id="myModal7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
     
        <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        
        <div class="imgdiv">
              <h4 class="modal-title" >Señal de Información</h4>
               <span class="img"><img class="img-responsive" src="img/parada%20de%20autobus.png"/></span>
               <h4 class="modal-title" >Parada de autobús</h4>
           
        </div>   
      </div>
      
        <div class="modal-body">
         <div class="row">
        <div class="col-md-10">    
        <form>
            
           <p class="parrafo">Llevará una placa adicional en la que se indique el número de la ruta y las principales paradas del itinerario. </p>
        </form>
        </div>    
        </div>    
      </div>
        
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"  class="close" data-dismiss="modal" aria-hidden="true">Aceptar</button>
      </div>   
    </div>
  </div>
</div>
    <!--fin del modal -->
        
        
         <!-- Modal -->
<div class="modal fade" id="myModal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
     
        <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        
        <div class="imgdiv">
              <h4 class="modal-title" >Señal de Información</h4>
               <span class="img"><img class="img-responsive" src="img/restaurante.png"/></span>
               <h4 class="modal-title" >Restaurante</h4>
           
        </div>   
      </div>
      
        <div class="modal-body">
         <div class="row">
        <div class="col-md-10">    
        <form>
            
           <p class="parrafo">Se coloca con una placa adicional indicando la distancia en que se encuentra el próximo restaurante. </p>
        </form>
        </div>    
        </div>    
      </div>
        
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"  class="close" data-dismiss="modal" aria-hidden="true">Aceptar</button>
      </div>   
    </div>
  </div>
</div>
    <!--fin del modal -->
        
        
        <!-- Modal -->
<div class="modal fade" id="myModal9" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
     
        <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        
        <div class="imgdiv">
              <h4 class="modal-title" >Señal de Información</h4>
               <span class="img"><img class="img-responsive" src="img/sanitarios.png"/></span>
               <h4 class="modal-title" >Sanitarios</h4>
           
        </div>   
      </div>
      
        <div class="modal-body">
         <div class="row">
        <div class="col-md-10">    
        <form>
            
         <p class="parrafo">Se coloca con una placa adicional indicando la distancia en que se encuentra el próximo sanitario.</p>
        </form>
        </div>    
        </div>    
      </div>
        
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"  class="close" data-dismiss="modal" aria-hidden="true">Aceptar</button>
      </div>   
    </div>
  </div>
</div>
    <!--fin del modal -->
        
        
        
</body>

</html>