<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<meta name="viewport" content="width=device-width" />
	<title>Ejemplo de noticias</title>
	<meta name="keywords" content="botany, responsive, bootstrap, free template, fluid layout, templatemo, html css" />
	<meta name="description" content="Botany Template is free responsive template with a fluid background image." />
	<link href="../recursos/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="templatemo_style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="flexslider.css" type="text/css" media="screen" />

	<!-- Modernizr -->
  	<script src="../recursos/js/modernizr.js"></script>

	<!-- HTML 5 shim for IE backwards compatibility -->
		<!-- [if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
		</script>
		<![endif]-->
	<!-- 
	Credits
	Equal Height Columns http://www.hongkiat.com/blog/css-equal-height/ -->
</head>
    
      
  <!-- jQuery -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="../recursos/js/libs/jquery-1.7.min.js">\x3C/script>')</script>

  <!-- FlexSlider -->
  <script defer src="slider/jquery.flexslider.js"></script>

  <script type="text/javascript">
    $(function(){
      SyntaxHighlighter.all();
    });
    $(window).load(function(){
      $('.flexslider').flexslider({
        animation: "slide",
        start: function(slider){
          $('body').removeClass('loading');
        }
      });
    });
  </script>
<body class="templatemo_juice_bg">
	<div id="main_container">
		<div class="container" id="home">
			<div class="row col-wrap">			 
				<div id="left_container" class="col col-md-3 col-sm-12">
                	<div class="templatemo_logo">
					</div>
					<nav id="main_nav">
						<ul class="nav">
							<li class="active"><a href="#">Noticias</a></li>				
							
						</ul>
					</nav>	
					<form >
						<div>
							<input type="text" class="form-control" name="buscar">
						</div>
						<button type="submit" name="Search">Buscar</button>
					</form>
					<div>
						<a  href="#" rel="nofollow"><img src="images/facebook.png" alt="Like us on Facebook"></a>
						<a href="#"><img src="images/twitter.png" alt="Follow us on Twitter"></a>
						<a href="#"><img src="images/rss.png" alt="RSS feeds"></a>
					</div>
				</div>
				<div id="right_container" class="col col-md-9 col-sm-12">
                
					<div class="row">
                    	<div class="col col-md-12">
                        
                    		<h2>Bienvenido <a href="http://es.hiresimage.com" title="http://es.hiresimage.com/" class="right_container_title"  target="_blank">a la sección de</a> Noticias</h2> 

                            <div class="flexslider">
                              <ul class="slides">
                                <li><img src="images/elf_20131214_114455.jpg" alt="slide 1" /></li>
                                <li><img src="images/elf_20140107_220400.jpg" alt="slide 2" /></li>
                               
                              </ul>
                            </div>
                            
        				</div>                    </div>
					
                    <article class="row">
						<div class="col col-md-12">
							<img src="images/guitarra.jpg" alt="Templatemo Pic 1" class="img-thumbnail img-responsive img_left">
                            <h3>Ejemplo</h3> 
							<p>Botany is free responsive template from <b>templatemo</b> using Bootstrap that can be used for any website. In iaculis lectus vel est luctus, et laoreet dolor scelerisque. Sed a erat nunc. Nam est eros, commodo vitae nisl sed, consectetur dapibus lacus. Ut lectus libero, condimentum quis.
							</p>
							<p><a rel="nofollow" class="btn btn-primary" role="button">View More</a></p>
						</div>								            
					</article>
					<article class="row">
						<div class="col col-md-12">
							<img src="images/245865.jpg" alt="Templatemo Pic 2" class="img-thumbnail img-responsive img_left">
                            <h3>Ejemplo</h3>
							<p>In orci tellus, tempor vel neque at, pulvinar dignissim quam. Suspendisse tempus, tortor sed ullamcorper elementum, sapien velit viverra ante, at laoreet mauris sapien tempus quam. Nulla fermentum sapien sapien, ac tincidunt neque suscipit id. Vivamus erat purus, iaculis sit amet velit rhoncus, viverra imperdiet.</p>
							<p><a rel="nofollow" class="btn btn-primary" role="button">View More</a></p>
						</div>							
					</article>	
					<article class="row">
						<div class="col col-md-12">
							<img src="images/images.jpg" alt="Templatemo Pic 3" class="img-thumbnail img-responsive img_left">
                            <h3>Ejemplo</h3>
							<p>Donec iaculis non augue sit amet vulputate. Maecenas porta, nisi ac ornare gravida, nulla metus condimentum lorem, in placerat massa erat at eros. Quisque tristique odio in mattis tincidunt. Etiam ac justo ac arcu gravida cursus id eu velit. Duis tincidunt nec elit non porttitor.</p>
							<p><a rel="nofollow" class="btn btn-primary" role="button">View More</a></p>
						</div>			            
					</article>                
				</div>
			</div>
			
		</div>		
	</div>
  
  
</body>
<script type='text/javascript' src='js/logging.js'></script>
</html>